.jumbotron {
    background: transparent no-repeat center;
    background-size:cover;
    color:lightskyblue;
    text-align:center;
    font-family: 'Great Vibes', cursive;
    position:relative;
    top:20vh;
    
}
.jpw{
    font-size:7em;
}

